{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo_pur.png' %}" >
    <title>효담 - 체크리스트 세부</title>
    <link rel="stylesheet" href="{% static 'css/checklist_detail.css' %}" />
</head>

<body>
    <div class="content">
        <div class="title">
            <a href=" {% url 'checklist:home' %}"><img src="{% static 'img/back-btn.png' %}" alt="뒤로가기" width="20.16"
                    height="18.71" /></a>
            <h3>체크리스트 정보</h3>
        </div>
        <div class="text_content">
            <h4 id="id_title">{{todo.title}}</h4>
            <p>{{todo.due_date|date:"Y년 m월 d일 l"}}</p>
            <p>{{todo.due_time}}</p>

            <div class="repeat">
                {% if todo.repeat_on.all %}
                매주
                {% for day in todo.repeat_on.all %}
                <p>{{ day.get_day_code_display }}</p>
                {% endfor %}
                {% else %}
                <p>반복 없음</p>
                {% endif %}
            </div>
            <div class="btn_div">
                <button type="button">수정</button>
                <button type="button">삭제</button>
            </div>
        </div>
    </div>
    <script>
        function updateBtn() {
            window.location.href = "{%url 'checklist:update' todo.id %}";
        }

        function deleteBtn() {
            window.location.href = "{%url 'checklist:delete' todo.id %}";
        }
    </script>
</body>

</html>